*
{
	box-sizing: border-box;
}

body
{
	background-image:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	font-family: sans-serif;
}

.maindiv
{
	margin: auto;
	padding: 0;
	width: 900px;
}

h3
{
	font-size: 19px;
	color: #fffc21;
	font-family: Arial;
	text-align: center;
}

.form_div
{
	width: 350px;
	padding: 20px;
	margin: auto;
	background-image: linear-gradient(to right, #051427, #042727);
}
p 
{
	color: yellow;
	font-size: 15px;
	display: block;
}

input[type=text],input[type=email],input[type=number]
{
	width: 100%;
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
	border: 2px solid mediumpurple;
	box-shadow:inset 2px 1px 4px orangered;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
 {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
    padding: 5px;
    font-size: 15px;
    border: 2px solid mediumpurple;
    border-radius: 5px;
}

input[type=submit]
{
	width: 100%;
	border: 2px solid violet;
	border-radius: 5px;
	box-shadow:inset 1px 20px 1px hotpink ;

}

.bott
{
	border: none ;
}

@media only screen and (mini-width= 700px) and (max-width= 900px)
{
	.maindiv
	{
		width: 100%;
	}

	h3
	{
		width: 100%;
		text-align: center;
	}

	.form_div
	{
		width: 100%;
		padding:0;
		margin: auto;
		padding: 20px;
	}

	input[type=text],input[type=email],input[type=number]
	{
		width: 100%;
	}
	input[type=submit]
	{
		width: 100%;
	}
}

@media only screen and (mini-width= 400px) and (max-width= 699px)

{
	.maindiv
	{
		width: 100%;
	}

	h3
	{
		width: 100%;
		text-align: center;
	}

	.form_div
	{
		width: 100%;
		padding:0;
		margin: auto;
		padding: 20px;
	}

	input[type=text],input[type=email],input[type=number]
	{
		width: 100%;
	}
	input[type=submit]
	{
		width: 100%;
	}
}
